<h1>Editing playlist</h1>

<%= render "form", playlist: @playlist %>

<br>

<div>
  <%= link_to "Show this playlist", admin_playlist_path(@playlist) %> |
  <%= link_to "Back to playlists", admin_playlists_path %>
</div>
