<div id="<%= dom_id speaker %>">
  <p>
    <strong>Name:</strong>
    <%= speaker.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= speaker.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= speaker.user_id %>
  </p>
</div>
