<h1>Editing medium</h1>

<%= render "form", medium: @medium %>

<br>

<div>
  <%= link_to "Show this medium", admin_medium_path(@medium) %> |
  <%= link_to "Back to media", admin_media_path %>
</div>
