<%= render @medium %>

<div>
  <%= link_to "Edit this medium", edit_admin_medium_path(@medium) %> |
  <%= link_to "Back to media", admin_media_path %>

  <%= button_to "Destroy this medium", admin_medium_path(@medium), method: :delete %>
</div>
