<%= render @cue %>

<div>
  <%= link_to "Edit this cue", edit_admin_cue_path(@cue) %> |
  <%= link_to "Back to cues", admin_cues_path %>

  <%= button_to "Destroy this cue", admin_cue_path(@cue), method: :delete %>
</div>
